# visual studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# build folder
bin/
bin-int/

# dependencies and vendor
dependencies/
vendor/

# resoureces
res/
/BrokenSimulation/imgui.ini

# other
*.log
